body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    padding: auto;
}
body > a {
    margin: auto;
    justify-content: space-around;
    font-size: 100px;
    background-color: tan;
}