body {
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
body > div {
    width: 50%;
    border: 1px solid black;
}
#raha {
    font-size: 4rem;
}
button {
    font-size: 100px;
}
#konkurssi {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    font-size: 100px;
    text-align: center;
}