html {
    margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  top: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  background-color: grey;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}
.linkit {
    margin-right: 50px;
}
body {
  margin: 0px;
  display: flex;
  background-image: url("../img/lakebg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
}
.container {
    margin: 25% auto 0;
    
}
.nimi {
    margin-left: 50px;
    align-items: center;
}
